@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles for react-phone-number-input in dark mode */
.PhoneInputInput {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  padding-left: 10px;
}

.PhoneInputCountry {
  margin-right: 0.5rem;
}

.PhoneInputCountrySelect {
  background-color: #18181b;
  /* zinc-900 */
  color: white;
}

.PhoneInputCountryIcon {
  margin-left: 10px;
}